# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Database
# =========================
*.db
*.sqlite3

# =========================
# Qdrant storage
# =========================
/data/

# =========================
# Models (большие веса)
# =========================
models/
models/bge-m3/
models/models--cross-encoder--ms-marco-MiniLM-L-6-v2/
models/reranker/

# =========================
# Cache
# =========================
.cache/
*.cache

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary files
# =========================
*.tmp
*.bak
*.swp

# =========================
# Offline packages
# =========================
offline_packages/